.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 270px;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-info {
  color: #333;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ubicacion {
  font-size: 0.95rem;
  color: #1976d2;
  font-weight: 500;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 0.5rem;
}

.precio {
  font-weight: bold;
  color: #333;
}

.personas {
  font-size: 0.95rem;
  color: #888;
}

.btn-agregar-al-carrito {
  background-color: white;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 2px solid black;
  border-radius: 6px;
  margin-left: 0.5rem;
}
.btn-agregar-al-carrito:hover {
  background-color: black;
  color: white;
}
