.eventospage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.gifts-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.gifts-main {
  flex: 1;
  color: black;
}

.cards-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
  justify-content: center;
}
