.ContainerLogoUser {
  display: flex;
}

.UserIcon {
  width: 29px;
  height: 29px;
}

.user-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
