.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 20px;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.nav {
  display: flex;
  text-align: center;
  justify-self: center;
  align-items: center;
  gap: 10px;

}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.nav a:hover {
  color: #000;
}

.iconos {
  display: flex;
  align-items: center;
  
}

.nav input {
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.btn-regalo {
  background-color: #667eea;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-regalo:hover {
  background-color: #333;
}
